html, body{
	width: 100%;
	height: 100%;
	position: fixed;
	

}
body{
	margin: 0;
	font-family: arial;
	font-size:12pt;
}
h2 {
    margin-top: 0;
    margin-bottom:0;
    text-align: left;
}

/*nav{
	width:285;
	height:488;
}*/
nav #navBar {
    list-style-type: none;
    /*margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;*/
}
li a {
    display: block;
    color: #000;
    padding: 16px 32px;
    text-decoration: none;
}
li a.active {
    background-color: black;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.container{
	position: relative;
	padding: 0 3% 0 15%;
	display: flex;
	height: 100%;
	
}
#left{
	
	top: 0; bottom: 0; left: 0;
	
	position: absolute;
	width: 15%;
	
}
#right{
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	

}


}


#extrainfo_box{
	flex:3;
	order:1;
	height: 130px;
}
#tableNO_div{
	flex:1;
	order:2;
	height: 125px;
}
#tableNO{
	margin-top: 80px;
}
#send_button{
	margin-top: 80px;
}
#sendB_div{
flex:1;
order:3;
height: 125px;
}
#testB{
	display: flex;
	
}
button:hover{
    background-color:white;
		text-align:center;
}
textarea{
	border:Ridge;
	border-color:#232b2b;
}
div.scrollmenu {

  overflow-x: auto;
	
}

.scrollmenu{
	border: 2px dotted #ccc;
	
}
#order_listDiv{

margin-top: 7%;
margin-bottom: 7%;
height: 100%;
background-color: white;
height: 80vh;
width: 95%;
text-align:center;
overflow: auto;
border-radius: 10px;
border: black Ridge;
padding-left: 0;
padding-right: 3%;
padding-bottom: 3%;
}
#order_list{
	list-style-type: none;
	text-align: left;
	overflow: auto;
}
.cells{
	/*display: inline-block;*/
	/*display: table-cell;*/
	/*float: left;*/
	/*display: block;*/
	/*table-layout: fixed;*/
	
}


th.cells{
	width: 150px;

}

/*
#foodNdrink{
	height: 33%;
}

#sauce_div{
	height: 25%;
}

#drink{
	height: 25%;
}

#extrainfo{
	
}
*/