
body{
	margin: 0;
	font-family: arial;
	font-size:12pt;
}
h2 {
    margin-top: 0;
}

/*nav{
	width:285;
	height:488;
}*/
nav #navBar {
    list-style-type: none;
    /*margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;*/
}
li a {
    display: block;
    color: #000;
    padding: 16px 32px;
    text-decoration: none;
}
li a.active {
    background-color: black;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container{
	/*margin-left: 15%;*/
	padding:1px 16px;
	height:auto;
}
#left{
	  width: 19%;
		list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
#right{
	margin-left: 20%;
}
section{
	width: 1300px;
	text-align:center;
	border: 5px dotted #ccc;
	margin-top:20px;
	height:500px;
}
section.foodNdrink {
	height:500px;
}

}
.cells{
	padding-left:100px;
}
#footer{
	text-align:right;
	width: 1310px;
}
#extrainfo_box{
	flex:3;
	order:1;
	height: 130px;
}
#tableNO_div{
	flex:1;
	order:2;
	height: 125px;
}
#tableNO{
	margin-top: 80px;
}
#send_button{
	margin-top: 80px;
}
#sendB_div{
flex:1;
order:3;
height: 125px;
}
#testB{
	display: flex;
	height: 250px;
}
button:hover{
    background-color:white;
		text-align:center;
}
textarea{
	border:Ridge;
	border-color:#232b2b;
}
div.scrollmenu {
  overflow: auto;
	height: 430px;
}
#addable_stuff{
height: 250px;
}
.scrollmenu{
	border: 2px dotted #ccc;
}
#order_listDiv{
margin-top: 100px;
margin-left: 35px;
background-color: white;
height: 30em;
width: 15em;
text-align:center;
overflow: auto;
border-radius: 10px;
border: black Ridge;
}
