html, body{
	width: 100%;
	height: 100%;
	position: fixed;


}
body{
	margin: 0;
	font-family: arial;
	font-size:12pt;
	background-image: url("../images/food.png");
}
h2 {
    margin-top: 0;
    margin-bottom:0;
    text-align: left;
}

 #navBar {
    list-style-type: none;
    border-radius: 10px;
	border: black Ridge;
    margin:0;
    height: 5vh;
    font-size: 1.5em;
    padding-top: 10%;
    background-color: #f6f2f2;
    

}
#navBar:hover{
    background-color: green;
}
li a {
    display: block;
    text-align: left;
    color: #000;
    margin-left: 2em;
    text-decoration: none;
}

#container{
	position: relative;
	padding: 0 3% 0 15%;
	display: flex;
	height: 100%;

}
#left{
	left: 0;
	top: 0;
	position: absolute;
	width: 15%;
	padding-top: 3px;
	padding-left: 7px;
	padding-bottom: 3px;

}
#right{
	bottom: 0;
	width: 100%;
	
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;


}


div.scrollmenu {

  overflow-x: auto;

}

.scrollmenu{
	border: 2px solid black;
	border-radius: 3px;
	background-color: #f6f2f2;
	height: 16.5vh;
	padding-top: 1em; 

}
div.scrollmenu1 {

  overflow-x: auto;

}

.scrollmenu1{
	border: 2px solid black;
	border-radius: 3px;
	background-color: #f6f2f2;
	height:25vh; 
	padding-top: 4px;

}
#order_listDiv{

margin-top: 7%;
margin-bottom: 7%;
height: 100%;
background-color: #f6f2f2;
height: 80vh;
width: 95%;
text-align:center;
overflow: auto;
border-radius: 10px;
border: black Ridge;
padding-left: 0;
padding-right: 3%;
padding-bottom: 3%;
}
#order_list{
	list-style-type: none;
	text-align: left;
	overflow: auto;
}

#foodNdrink{
	padding-top: 3px;
	/*height: 30%;*/

}

#sauce_div{
	/*height: 20%;*/
	top:0;
}

#drink{
	/*height: 20%;*/
	top: 0;
}

#extrainfo{
	/*height: 29%;*/
	top:0;
	bottom: 0;
	/*border:1px solid pink;*/
}



#testB{
	display: flex;
	height: 100%;
	border: 2px solid black;
	border-radius: 3px;
	background-color: #f6f2f2;
}

/******************/

#extrainfo_box{
	flex:3;
	order:1;
	height: 100%;
	bottom: 0;
	top: 0;
	margin-left: 10px;
	

}

textarea{
	height: 80px;
	border:Ridge;
	border-color:black;
}
/********************/


#tableNO_div{
	flex:1;
	order:2;
	
	height: 100%;
	bottom: 0;

}
#tableNO{
	border: 3px solid black;
	font-size: 50px;
	margin-left: 0;
}

/*************/

#send_button{
	border: 3px solid black;
	margin-top: 0em;
	margin-right: 1em;
	margin-bottom: 0em;
	margin-left: 1em;
	background-image: url('http://images.clipartbro.com/4/green-tick-4984.png');
#sendB_div{
flex:1;
order:3;
}

button:hover{
    background-color:pink;
		text-align:center;
}

#warningsign{
	
	flex:0.5;
	order:4;
	
}
